---
layout: ""
page_title: "Provider: UpCloud"
description: |-
  The UpCloud Terraform Provider enables organisations to control resources provided by the UpCloud platform.
---

# UpCloud Provider

The UpCloud Terraform Provider enables organisations to control resources provided by the UpCloud platform.


## Example Usage

{{tffile "examples/provider/provider.tf"}}

{{ .SchemaMarkdown | trimspace }}
