name: Acceptance Tests

on:
  workflow_call:
    inputs:
      tool:
        description: 'Tool to use for the acceptance tests'
        required: true
        type: string

concurrency:
  # Can not use ${{ github.workflow }} here, as that value is inherited from the calling workflow.
  group: ${{ github.repository }}-acctest
  cancel-in-progress: false

permissions:
  contents: read

jobs:
  Test:
    runs-on: ubuntu-latest
    timeout-minutes: 75
    strategy:
      fail-fast: false
      matrix:
        group: [unittests, core]

    steps:
      - name: Checkout source code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version-file: 'go.mod'
          cache: true

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3.1.2
        with:
          terraform_wrapper: false
        if: inputs.tool == 'terraform'

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@592200bd4b9bbf4772ace78f887668b1aee8f716 # v1.0.5
        with:
          tofu_wrapper: false
        if: inputs.tool == 'tofu'

      - name: Set TF_ACC_* environment for OpenTofu
        run: |
          echo "TF_ACC_TERRAFORM_PATH=$(which tofu)" >> "$GITHUB_ENV"
          echo "TF_ACC_PROVIDER_NAMESPACE=hashicorp" >> "$GITHUB_ENV"
          echo "TF_ACC_PROVIDER_HOST=registry.opentofu.org" >> "$GITHUB_ENV"
        if: inputs.tool == 'tofu'

      - name: "Print ${{ inputs.tool }} version"
        run: ${{ inputs.tool }} version

      - name: Run unit tests
        run: |
          if [ "${{ matrix.group }}" == "unittests" ]; then
            make test
          fi

      - name: Run ${{ matrix.group }} acceptance tests
        env:
          UPCLOUD_USERNAME: ${{ secrets.UPCLOUD_USERNAME }}
          UPCLOUD_PASSWORD: ${{ secrets.UPCLOUD_PASSWORD }}
        if: env.UPCLOUD_PASSWORD != '' && matrix.group != 'unittests'
        run: |
          if [ "${{ matrix.group }}" == "core" ]; then
            make testacc
          else
            make testacc-${{ matrix.group }}
          fi

  Cleanup:
    runs-on: ubuntu-latest
    needs: Test
    if: ${{ always() }}
    steps:
      - name: Install upctl
        uses: UpCloudLtd/upcloud-cli-action@0b74850ba423d7d254b75518a31f19bd19aa839c # v1.0.0
        with:
          username: ${{ secrets.UPCLOUD_USERNAME }}
          password: ${{ secrets.UPCLOUD_PASSWORD }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Purge resources
        timeout-minutes: 5
        run: upctl all purge --include *tf-acc-test* --exclude *persistent*
      - name: List remaining resources
        run: upctl all list --include *tf-acc-test* --exclude *persistent*
        if: ${{ failure() }}
