name: Terraform

on:
  pull_request:
    paths:
      - .github/workflows/acctest.yml
      - .github/workflows/terraform.yml
      - go.mod
      - internal/**
      - upcloud/**

jobs:
  Test:
    uses: ./.github/workflows/acctest.yml
    with:
      tool: terraform
    secrets: inherit
