name: UpCloud Terraform provider tests

on:
  pull_request:
    paths:
      - upcloud/**
      - internal/**

concurrency:
  group: ${{ github.repository }}-${{ github.workflow }}
  cancel-in-progress: false

jobs:
  Test:
    runs-on: ubuntu-latest
    steps:
      - name: "Setup Go"
        uses: actions/setup-go@v3
        with:
          go-version: "1.18.x"

      - name: "Checkout source code"
        uses: actions/checkout@v3

      - name: "Run unit tests"
        run: make test

      - name: "Run acceptance tests"
        env:
          UPCLOUD_USERNAME: ${{ secrets.UPCLOUD_USERNAME }}
          UPCLOUD_PASSWORD: ${{ secrets.UPCLOUD_PASSWORD }}
        if: env.UPCLOUD_PASSWORD != ''
        run: make testacc
