name: Terraform

on:
  # TODO: remove this when switching to OpenTofu, see ./opentofu.yml
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    paths:
      - .github/workflows/acctest.yml
      - .github/workflows/terraform.yml
      - go.mod
      - internal/**
      - upcloud/**

jobs:
  Test:
    uses: ./.github/workflows/acctest.yml
    with:
      tool: terraform
    secrets: inherit
